/**{outline: 1px solid red;
}*/
body{
	margin: 0;
	padding: 0;
}
.content-logo{
	margin-top: 10px;
}
.inicio{
	margin-top: 35px;
	margin-left: 82px;
}
.barra{
	margin-top: 10px;
}
.navbar{
	padding-top: 40px;
	border-radius: 0;
}
.navbar-default{
	background-color: #D6D6D6;
	border-color: #fff; 
}
.navbar-default .navbar-nav>.active>a{
	color: #000;
	background-color: #fff;
}
.navbar-default .navbar-collapse{
	border-color: transparent;
}
/*articulos*****/
.articulo{
	border-bottom: 1px solid black;
}
.articulo2{
	border-bottom: 1px solid black;
}
.articulo3{
	border-bottom: 1px solid black;
}
.agenda{
	border-bottom: 1px solid black;
}
/*informacion2*/
ul li{
	text-decoration: none;
	list-style: none;
}
.informacion2{
	border-bottom: 1px solid black;
}
.magazine{
	background-color: #D6D6D6;
}
/*.magazine2{
	background-color: #D6D6D6;
}*/
footer{
	border-top: 3px solid black;
	
}
.pie{
	min-height: 250px;
	display: block;
}
.lista{
	display: inline-block;
	padding:10px 40px;
	float:left;
	height: 100%;
}
.lista ul{
	display: block;

	margin: 0;
	padding: 0px;
}